nav {
    position: fixed;
    width: 100%;
    top: 0;
}

.carousel-inner img {
    width: 460px;
    height: 500px;
}

h1 {
    font-family: 'Bowlby One SC', Helvetica;
}

.p-home,
.p-categorias,
h4,
h5,
p {
    font-family: 'Titillium Web', sans-serif;
}

h4,
h5 {
    font-weight: bold;
}

h3,
h2 {
    font-family: 'Permanent Marker', cursive;
}

.blockquote p {
    font-family: 'Open Sans Condensed', sans-serif;
}


/* *********** PAGINA DETALLES  ******************* */

.info-calorias {
    background-color: #99B898;
}